{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block h1 %}
<div style="text-align:center">
<h1> {{ post.header }} </h1>
<h4>{{ post.time_post|date:'d.M.Y' }} | {{ post.news_type }}</h4>
<h4> {{ post.category.all|join:' | ' }} </h4>
</div>
{% endblock h1 %}

{% block body %}

<p style="font-size:32px; text-align:center; padding-top: 40px">{{ post.body|censore }}</p>

{% endblock body %}

{% block footer %}

<div style="text-align:center; padding-top: 125px">
    <button style="margin: 0px 25px 0px 25px"><a href="{{ request.path }}edit">Изменить статью</a></button> |
    <button style="margin: 0px 25px 0px 25px"><a href="/">На главную</a></button> |
    <button style="margin: 0px 25px 0px 25px"><a href="{{ request.path }}delete">Удалить статью</a></button>
    <h5>Рейтинг: {{ post.rating }}</h5>
</div>

{% endblock footer %}