{% extends 'flatpages/default.html' %}
{% load custom_tags %}
{% load cache %}

{% block h1 %}
<div style="text-align:center">
<h1> List of posts </h1>
<h4>Количество новостей: {{ posts|length }}</h4>
</div>
{% endblock h1 %}

{% block header %}
{% cache 300 buttons %}           <!--Кэширование кнопок!-->
<p style="text-align:center"> |
    <button style="margin: 0px 50px 0px 50px"><a href="news/">Новости</a></button> |
    <button style="margin: 0px 50px 0px 50px"><a href="articles/">Статьи</a> </button> |
</p>
{% endcache %}
{% endblock header %}


{% block body %}
{% if posts %}
{% for post in posts %}
    <h3> <a href="{{ post.news_type|lower }}/{{ post.id }}"> {{ post.header|truncatewords:7 }} </a> </h3>
    <h6>{{ post.time_post|date:'d M Y' }} | 
        {% for category in post.category.all %}
            {% is_subscribed category as subscribed %}
            {% if subscribed %}
                <a href="{% url 'unsubscribe_category' category.id %}" style="text-decoration: none; color: #dc3545;">{{ category.category_name }} (отписаться)</a>
            {% else %}
                <a href="{% url 'subscribe_category' category.id %}" style="text-decoration: none; color: #007bff;">{{ category.category_name }} (подписаться)</a>
            {% endif %}
            {% if not forloop.last %} - {% endif %}
        {% endfor %}
    </h6>
    <h5>{{ post.body|truncatewords:20 }}</h5>
    <hr>
{% endfor %}
{% else %}
    Новости отсутствуют
{% endif %}
<hr>
<div style="text-align:center">
<p style="text-align:center">Страницы:</p>
{% if page_obj.has_previous %}
    <a href="?{% current_url page=1 %}">1</a>
    {% if page_obj.previous_page_number != 1 %}
        ...
        <a href="?{% current_url page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}
| <b>{{ page_obj.number }}</b> |
{% if page_obj.has_next %}
    <a href="?{% current_url page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
    {% if paginator.num_pages != page_obj.next_page_number %}
        ...
        <a href="?{% current_url page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
{% endif %}
</div>

{% if is_not_author %}
<div style="text-align:center">
    <button> <a href="auth/upgrade/">Хочу быть автором!</a> </button>
</div>
{% endif %}

{% endblock body %}

# ====================

{% block footer %}

{% endblock footer %}