{% extends 'flatpages/default.html' %}

{% block h1 %}
<h1 style="text-align:center"> List of news </h1>
<h4 style="text-align:center">Количество новостей: {{ news|length }}</h4>
{% endblock h1 %}

{% block body %}
{% if news %}
{% for post in news %}
    {{ post.id }} - {{ post.header|truncatewords:7 }}
    <h6>{{ post.time_post|date:'d M Y' }}</h6>
    <h5>{{ post.body|truncatewords:20 }}</h5>
    <hr>
{% endfor %}
{% else %}
    Новости отсутствуют
{% endif %}
{% endblock body %}

{% block footer %}

{% endblock footer %}